<a href="https://colab.research.google.com/github/amitsiman/test-colab/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
pd.__version__

'1.3.5'

In [4]:
import pandas as pd


stocks = ['PLW', 'CDR', '11B', 'TEN']
ser = pd.Series(stocks)
 
print(ser)

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

In [6]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
print(pd.Series(stocks))


import pandas as pd
 
 
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64
PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [ ]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)