<a href="https://colab.research.google.com/github/amitsiman/test-colab/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
pd.__version__

'1.3.5'

In [4]:
import pandas as pd


stocks = ['PLW', 'CDR', '11B', 'TEN']
ser = pd.Series(stocks)
 
print(ser)

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

In [6]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
print(pd.Series(stocks))


import pandas as pd
 
 
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64
PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [14]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
print(quotations)
print(quotations.tolist())

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64
[387.0, 339.5, 349.5, 391.0]

In [15]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
df = pd.DataFrame(quotations,columns =['price'])
print(df)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

In [34]:
import numpy as np
import pandas as pd

# num=np.arange(101,110,1)
# num2=np.arange(10.0,100.0,10)

# s = pd.Series(num2,num)
# print(s)

s = pd.Series(
    data=np.arange(10, 100, 10), 
    index=np.arange(101, 110), 
    dtype='float'
)
print(s)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

In [43]:
# import pandas as pd


# series = pd.Series(['001', '002', '003', '004'], list('abcd'))
# df = pd.DataFrame(series)
# df = df.astype(int)

# print(df)

import pandas as pd
 
 
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
series = pd.to_numeric(series)
print(series)

import pandas as pd
 
 
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
series = series.astype(int)
print(series)

   0
a  1
b  2
c  3
d  4
a    1
b    2
c    3
d    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [44]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
s2 = pd.Series({'BBT': 25.5, 'F51': 19.2})
quotations=quotations.append(s2)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

In [89]:
import pandas as pd
 
 
stocks = {
    'PLW': 387.00, 
    'CDR': 339.5, 
    'TEN': 349.5, 
    '11B': 391.0, 
    'BBT': 25.5, 
    'F51': 19.2
}
quotations = pd.Series(data=stocks)
quotations = pd.DataFrame(quotations).reset_index()
quotations.columns = ['ticker', 'price']
print(quotations)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

In [6]:
import pandas as pd

d = {"company": ['Amazon', 'Microsoft', 'Facebook'], "price": [2375.0, 178.6, 179.2],"ticker":['AMZN.US','MSFT.US','FB.US']}
df = pd.DataFrame(d)
df


import pandas as pd
 
 
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}
 
companies = pd.DataFrame(data=data_dict)
print(companies)
# df

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US