<a href="https://colab.research.google.com/github/amitsiman/test-colab/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.__version__

'1.3.5'

In [ ]:
import pandas as pd


stocks = ['PLW', 'CDR', '11B', 'TEN']
ser = pd.Series(stocks)
 
print(ser)

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

In [ ]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
print(pd.Series(stocks))


import pandas as pd
 
 
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64
PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [ ]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
print(quotations)
print(quotations.tolist())

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64
[387.0, 339.5, 349.5, 391.0]

In [ ]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
df = pd.DataFrame(quotations,columns =['price'])
print(df)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

In [ ]:
import numpy as np
import pandas as pd

# num=np.arange(101,110,1)
# num2=np.arange(10.0,100.0,10)

# s = pd.Series(num2,num)
# print(s)

s = pd.Series(
    data=np.arange(10, 100, 10), 
    index=np.arange(101, 110), 
    dtype='float'
)
print(s)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

In [ ]:
# import pandas as pd


# series = pd.Series(['001', '002', '003', '004'], list('abcd'))
# df = pd.DataFrame(series)
# df = df.astype(int)

# print(df)

import pandas as pd
 
 
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
series = pd.to_numeric(series)
print(series)

import pandas as pd
 
 
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
series = series.astype(int)
print(series)

   0
a  1
b  2
c  3
d  4
a    1
b    2
c    3
d    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
s2 = pd.Series({'BBT': 25.5, 'F51': 19.2})
quotations=quotations.append(s2)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

In [ ]:
import pandas as pd
 
 
stocks = {
    'PLW': 387.00, 
    'CDR': 339.5, 
    'TEN': 349.5, 
    '11B': 391.0, 
    'BBT': 25.5, 
    'F51': 19.2
}
quotations = pd.Series(data=stocks)
quotations = pd.DataFrame(quotations).reset_index()
quotations.columns = ['ticker', 'price']
print(quotations)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

In [ ]:
import pandas as pd

d = {"company": ['Amazon', 'Microsoft', 'Facebook'], "price": [2375.0, 178.6, 179.2],"ticker":['AMZN.US','MSFT.US','FB.US']}
df = pd.DataFrame(d)
df

##preferd solution
import pandas as pd
 
 
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}
 
companies = pd.DataFrame(data=data_dict)
print(companies)
# df

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

In [ ]:


import pandas as pd
 
 
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}
 
companies = pd.DataFrame(data=data_dict)
companies = companies.set_index('company')
print(companies)

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US

In [ ]:
import pandas as pd
 
 
date_range = pd.date_range(start='2020-01-01', periods=31)
print(date_range)

## or

import pandas as pd
 
 
date_range = pd.date_range(start='2020-01-01', end='2020-01-31')
print(date_range)


# import pandas as pd
# df = pd.date_range(start ='1-1-2020', 
#          end = pd.datetime.today(), freq ='D')

# df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  This is separate from the ipykernel package so we can avoid doing imports until

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2022-11-10', '2022-11-11', '2022-11-12', '2022-11-13',
               '2022-11-14', '2022-11-15', '2022-11-16', '2022-11-17',
               '2022-11-18', '2022-11-19'],
              dtype='datetime64[ns]', length=1054, freq='D')

In [ ]:
##Create the DatetimeIndex object containing the dates in the yyyy-mm-dd format for all Mondays from 2020 and assign it to the date_range variable. Print this variable to the console.


import pandas as pd

date_range = pd.date_range(start='2020-01-01', end='2020-12-31', freq='W-MON')
print(date_range)
## or

import pandas as pd
 
 
date_range = pd.date_range(start='2020-01-01', periods=52, freq='W-MON')
print(date_range)

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27',
               '2020-02-03', '2020-02-10', '2020-02-17', '2020-02-24',
               '2020-03-02', '2020-03-09', '2020-03-16', '2020-03-23',
               '2020-03-30', '2020-04-06', '2020-04-13', '2020-04-20',
               '2020-04-27', '2020-05-04', '2020-05-11', '2020-05-18',
               '2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05',
               '2020-10-12', '2020-10-19', '2020-10-26', '2020-11-02',
               '2020-11-09', '2020-11-16', '2020-11-23', '2020-11-30',
               '2020-12-07', '2020-12-14', '2020-12-21', '2020-12-28'],
              dtype='datetime64[ns]', freq='W-MON')

In [ ]:
# #Create the DatetimeIndex object containing the dates in the format yyyy-mm-dd hh: mm: ss for January 1, 
# 2021 with a time interval of 1h and assign to the variable date_range. In response, print this variable to the console.

import pandas as pd

date_range = pd.date_range(start='2021-01-01 00:00:00', end='2021-01-01 23:00:00', freq='H')
print(date_range)

# or
import pandas as pd
 
 
date_range = pd.date_range(start='2021-01-01', periods=24, freq='H')
print(date_range)
# or
import pandas as pd
 
 
date_range = pd.date_range(
    start='2021-01-01', 
    end='2021-01-02', 
    freq='H', 
    closed='left'
)
print(date_range)

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [ ]:

# Create the following DataFrame object and print it to the console.



#       day           day_of_year
#  0    2021-03-01    60
#  1    2021-03-02    61
#  2    2021-03-03    62
#  3    2021-03-04    63
#  4    2021-03-05    64
#  5    2021-03-06    65
#  6    2021-03-07    66
#  7    2021-03-08    67
#  8    2021-03-09    68
#  9    2021-03-10    69
# 10    2021-03-11    70
# 11    2021-03-12    71
# 12    2021-03-13    72
# 13    2021-03-14    73
# 14    2021-03-15    74
# 15    2021-03-16    75
# 16    2021-03-17    76
# 17    2021-03-18    77
# 18    2021-03-19    78
# 19    2021-03-20    79
# 20    2021-03-21    80
# 21    2021-03-22    81
# 22    2021-03-23    82
# 23    2021-03-24    83
# 24    2021-03-25    84
# 25    2021-03-26    85
# 26    2021-03-27    86
# 27    2021-03-28    87
# 28    2021-03-29    88
# 29    2021-03-30    89
# 30    2021-03-31    90


# Tip: The day column contains dates from March 1, 2021 to March 31, 2021. The column day_of_year is the day number of the whole year.




import pandas as pd
 
 
date_range = pd.date_range(start='2021-03-01', periods=31)
df = pd.DataFrame(data=date_range, columns=['day'])
df['day_of_year'] = df['day'].dt.dayofyear
print(df)

          day  day_of_year
0  2021-03-01           60
1  2021-03-02           61
2  2021-03-03           62
3  2021-03-04           63
4  2021-03-05           64
5  2021-03-06           65
6  2021-03-07           66
7  2021-03-08           67
8  2021-03-09           68
9  2021-03-10           69
10 2021-03-11           70
11 2021-03-12           71
12 2021-03-13           72
13 2021-03-14           73
14 2021-03-15           74
15 2021-03-16           75
16 2021-03-17           76
17 2021-03-18           77
18 2021-03-19           78
19 2021-03-20           79
20 2021-03-21           80
21 2021-03-22           81
22 2021-03-23           82
23 2021-03-24           83
24 2021-03-25           84
25 2021-03-26           85
26 2021-03-27           86
27 2021-03-28           87
28 2021-03-29           88
29 2021-03-30           89
30 2021-03-31           90

In [ ]:
# The following dictionary is given:



# data_dict = {
#     'normal': np.random.normal(loc=0, scale=1, size=1000),
#     'uniform': np.random.uniform(low=0, high=1, size=1000),
#     'binomial': np.random.binomial(n=1, p=0.2, size=1000)
# }


# Create the DateFrame object from this dictionary and assign it to the df variable. As an index, add a dates from 2020-01-01 as shown below. In response print this DataFrame to the console.

import numpy as np
import pandas as pd


np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict)
df=df.set_index([pd.Index(pd.date_range(start='2020-01-01', periods=1000))])
print(df)


##or
import numpy as np
import pandas as pd
 
 
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}
 
df = pd.DataFrame(
    data=data_dict, 
    index=pd.date_range('2020-01-01', periods=1000)
)
print(df)

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
...              ...       ...       ...
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

[1000 rows x 3 columns]

In [ ]:
# The following df DataFrame is given:



#               normal   uniform  binomial
# 2020-01-01  0.496714  0.167483         0
# 2020-01-02 -0.138264  0.104568         0
# 2020-01-03  0.647689  0.636430         0
# 2020-01-04  1.523030  0.706476         0
# 2020-01-05 -0.234153  0.031586         1
# ...              ...       ...       ...
# 2022-09-22 -0.281100  0.280683         1
# 2022-09-23  1.797687  0.206993         0
# 2022-09-24  0.640843  0.516573         0
# 2022-09-25 -0.571179  0.005506         1
# 2022-09-26  0.572583  0.007664         0
 
# [1000 rows x 3 columns]


# Print the first ten rows of this DataFrame then print blank line and print the last five rows of this object as shown below.



# Expected output:



#               normal   uniform  binomial
# 2020-01-01  0.496714  0.167483         0
# 2020-01-02 -0.138264  0.104568         0
# 2020-01-03  0.647689  0.636430         0
# 2020-01-04  1.523030  0.706476         0
# 2020-01-05 -0.234153  0.031586         1
# 2020-01-06 -0.234137  0.936212         0
# 2020-01-07  1.579213  0.051971         0
# 2020-01-08  0.767435  0.541296         0
# 2020-01-09 -0.469474  0.709061         1
# 2020-01-10  0.542560  0.870969         0
 
#               normal   uniform  binomial
# 2022-09-22 -0.281100  0.280683         1
# 2022-09-23  1.797687  0.206993         0
# 2022-09-24  0.640843  0.516573         0
# 2022-09-25 -0.571179  0.005506         1
# 2022-09-26  0.572583  0.007664         0


import numpy as np
import pandas as pd


np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2020-01-01', periods=1000))
print(df.head(10))
print()
print(df.tail(5))

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
2020-01-06 -0.234137  0.936212         0
2020-01-07  1.579213  0.051971         0
2020-01-08  0.767435  0.541296         0
2020-01-09 -0.469474  0.709061         1
2020-01-10  0.542560  0.870969         0

              normal   uniform  binomial
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

In [ ]:
# The following df DataFrame is given:



#               normal   uniform  binomial
# 2020-01-01  0.496714  0.167483         0
# 2020-01-02 -0.138264  0.104568         0
# 2020-01-03  0.647689  0.636430         0
# 2020-01-04  1.523030  0.706476         0
# 2020-01-05 -0.234153  0.031586         1
# ...              ...       ...       ...
# 2022-09-22 -0.281100  0.280683         1
# 2022-09-23  1.797687  0.206993         0
# 2022-09-24  0.640843  0.516573         0
# 2022-09-25 -0.571179  0.005506         1
# 2022-09-26  0.572583  0.007664         0
 
# [1000 rows x 3 columns]


# Display basic information about the df object (number of rows, number of columns, type of variables) using pd.DataFrame.info() method, print blank line and print basic statistics of df (mean value, standard deviation, min, max, median) using pd.DataFrame.describe() method as shown below.



# Expected result:



# <class 'pandas.core.frame.DataFrame'>
# DatetimeIndex: 1000 entries, 2020-01-01 to 2022-09-26
# Freq: D
# Data columns (total 3 columns):
#  #   Column    Non-Null Count  Dtype  
# ---  ------    --------------  -----  
#  0   normal    1000 non-null   float64
#  1   uniform   1000 non-null   float64
#  2   binomial  1000 non-null   int64  
# dtypes: float64(2), int64(1)
# memory usage: 31.2 KB
# None
 
#             normal      uniform    binomial
# count  1000.000000  1000.000000  1000.00000
# mean      0.019332     0.503649     0.19200
# std       0.979216     0.288357     0.39407
# min      -3.241267     0.003218     0.00000
# 25%      -0.647590     0.247199     0.00000
# 50%       0.025301     0.516126     0.00000
# 75%       0.647944     0.746319     0.00000
# max       3.852731     0.999414     1.00000


import numpy as np
import pandas as pd
 
 
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}
 
df = pd.DataFrame(
    data=data_dict, 
    index=pd.date_range('2020-01-01', periods=1000)
)
print(df.info())
print()
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2020-01-01 to 2022-09-26
Freq: D
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   normal    1000 non-null   float64
 1   uniform   1000 non-null   float64
 2   binomial  1000 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 31.2 KB
None

            normal      uniform    binomial
count  1000.000000  1000.000000  1000.00000
mean      0.019332     0.503649     0.19200
std       0.979216     0.288357     0.39407
min      -3.241267     0.003218     0.00000
25%      -0.647590     0.247199     0.00000
50%       0.025301     0.516126     0.00000
75%       0.647944     0.746319     0.00000
max       3.852731     0.999414     1.00000

In [ ]:
# The following df DataFrame is given:



#               normal   uniform  binomial
# 2020-01-01  0.496714  0.167483         0
# 2020-01-02 -0.138264  0.104568         0
# 2020-01-03  0.647689  0.636430         0
# 2020-01-04  1.523030  0.706476         0
# 2020-01-05 -0.234153  0.031586         1
# ...              ...       ...       ...
# 2022-09-22 -0.281100  0.280683         1
# 2022-09-23  1.797687  0.206993         0
# 2022-09-24  0.640843  0.516573         0
# 2022-09-25 -0.571179  0.005506         1
# 2022-09-26  0.572583  0.007664         0
 
# [1000 rows x 3 columns]


# Find the distribution of the binomial column from this DataFrame. In response, print this distribution to the console as shown below.



# Tip: Use pd.Series.value_counts() function.

import numpy as np
import pandas as pd
 
 
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}
 
df = pd.DataFrame(
    data=data_dict, 
    index=pd.date_range('2020-01-01', periods=1000)
)
print(df['binomial'].value_counts())

0    808
1    192
Name: binomial, dtype: int64

In [ ]:
# The following df DataFrame is given:



#               normal   uniform  binomial
# 2020-01-01  0.496714  0.167483         0
# 2020-01-02 -0.138264  0.104568         0
# 2020-01-03  0.647689  0.636430         0
# 2020-01-04  1.523030  0.706476         0
# 2020-01-05 -0.234153  0.031586         1
# ...              ...       ...       ...
# 2022-09-22 -0.281100  0.280683         1
# 2022-09-23  1.797687  0.206993         0
# 2022-09-24  0.640843  0.516573         0
# 2022-09-25 -0.571179  0.005506         1
# 2022-09-26  0.572583  0.007664         0
 
# [1000 rows x 3 columns]


# Extract first 50 rows from the df object and save to the 'dataframe50.csv' file.

import numpy as np
import pandas as pd


np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2020-01-01', periods=1000))
df.head(50).to_csv(r'dataframe50.csv', index=True, header=True)

#or

import numpy as np
import pandas as pd
 
 
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}
 
df = pd.DataFrame(
    data=data_dict, 
    index=pd.date_range('2020-01-01', periods=1000)
)
df[:50].to_csv('dataframe50.csv', sep=',')

In [ ]:
# The 'dataframe50.csv' file is attached to this exercise. Load this file into the df_new variable (remember to load the index correctly) and print the df_new variable to the console.
# Expected output:
#               normal   uniform  binomial
# 2020-01-01  0.496714  0.167483         0
# 2020-01-02 -0.138264  0.104568         0
# 2020-01-03  0.647689  0.636430         0
# 2020-01-04  1.523030  0.706476         0
# 2020-01-05 -0.234153  0.031586         1
# 2020-01-06 -0.234137  0.936212         0
# 2020-01-07  1.579213  0.051971         0
# 2020-01-08  0.767435  0.541296         0
# 2020-01-09 -0.469474  0.709061         1
# 2020-01-10  0.542560  0.870969         0
# 2020-01-11 -0.463418  0.714087         0
# 2020-01-12 -0.465730  0.801728         0
# 2020-01-13  0.241962  0.339450         0
# 2020-01-14 -1.913280  0.814825         0
# 2020-01-15 -1.724918  0.080115         0
# 2020-01-16 -0.562288  0.894817         1
# 2020-01-17 -1.012831  0.547592         0
# 2020-01-18  0.314247  0.817298         0
# 2020-01-19 -0.908024  0.452318         1
# 2020-01-20 -1.412304  0.643578         0
# 2020-01-21  1.465649  0.526403         0
# 2020-01-22 -0.225776  0.731590         0
# 2020-01-23  0.067528  0.081630         0
# 2020-01-24 -1.424748  0.060352         0
# 2020-01-25 -0.544383  0.247103         1
# 2020-01-26  0.110923  0.159545         0
# 2020-01-27 -1.150994  0.871784         0
# 2020-01-28  0.375698  0.219214         0
# 2020-01-29 -0.600639  0.975865         1
# 2020-01-30 -0.291694  0.336896         1
# 2020-01-31 -0.601707  0.182118         1
# 2020-02-01  1.852278  0.789699         0
# 2020-02-02 -0.013497  0.658708         0
# 2020-02-03 -1.057711  0.498196         0
# 2020-02-04  0.822545  0.555364         0
# 2020-02-05 -1.220844  0.719202         0
# 2020-02-06  0.208864  0.228455         0
# 2020-02-07 -1.959670  0.996334         0
# 2020-02-08 -1.328186  0.974793         0
# 2020-02-09  0.196861  0.650326         0
# 2020-02-10  0.738467  0.199542         0
# 2020-02-11  0.171368  0.680228         0
# 2020-02-12 -0.115648  0.072198         0
# 2020-02-13 -0.301104  0.030653         0
# 2020-02-14 -1.478522  0.257683         0
# 2020-02-15 -0.719844  0.462623         0
# 2020-02-16 -0.460639  0.868273         0
# 2020-02-17  1.057122  0.727169         0
# 2020-02-18  0.343618  0.742707         1
# 2020-02-19 -1.763040  0.425493         0
import pandas as pd

df_new = pd.read_csv('dataframe50.csv', index_col=0)
print(df_new)

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
2020-01-06 -0.234137  0.936212         0
2020-01-07  1.579213  0.051971         0
2020-01-08  0.767435  0.541296         0
2020-01-09 -0.469474  0.709061         1
2020-01-10  0.542560  0.870969         0
2020-01-11 -0.463418  0.714087         0
2020-01-12 -0.465730  0.801728         0
2020-01-13  0.241962  0.339450         0
2020-01-14 -1.913280  0.814825         0
2020-01-15 -1.724918  0.080115         0
2020-01-16 -0.562288  0.894817         1
2020-01-17 -1.012831  0.547592         0
2020-01-18  0.314247  0.817298         0
2020-01-19 -0.908024  0.452318         1
2020-01-20 -1.412304  0.643578         0
2020-01-21  1.465649  0.526403         0
2020-01-22 -0.225776  0.731590         0
2020-01-23  0.067528  0.081630         0
2020-01-24 -1.424748  0.060352         0
2020-01-25 -0.544383  0.247103         1
2020-01-26  0.110923  0.159545         0
2020-01-27 -1.150994  0.871784         0
2020-01-28  0.375698  0.219214         0
2020-01-29 -0.600639  0.975865         1
2020-01-30 -0.291694  0.336896         1
2020-01-31 -0.601707  0.182118         1
2020-02-01  1.852278  0.789699         0
2020-02-02 -0.013497  0.658708         0
2020-02-03 -1.057711  0.498196         0
2020-02-04  0.822545  0.555364         0
2020-02-05 -1.220844  0.719202         0
2020-02-06  0.208864  0.228455         0
2020-02-07 -1.959670  0.996334         0
2020-02-08 -1.328186  0.974793         0
2020-02-09  0.196861  0.650326         0
2020-02-10  0.738467  0.199542         0
2020-02-11  0.171368  0.680228         0
2020-02-12 -0.115648  0.072198         0
2020-02-13 -0.301104  0.030653         0
2020-02-14 -1.478522  0.257683         0
2020-02-15 -0.719844  0.462623         0
2020-02-16 -0.460639  0.868273         0
2020-02-17  1.057122  0.727169         0
2020-02-18  0.343618  0.742707         1
2020-02-19 -1.763040  0.425493         0

In [ ]:
import pandas as pd
 
 
# google = pd.read_csv('google.csv')
# print(google.info())
# print()
# print(google.describe())
### the above command shows:
#               Open         High          Low        Close        Volume
# count    30.000000    30.000000    30.000000    30.000000  3.000000e+01
# mean   1428.889000  1445.470440  1412.767923  1430.681000  1.869471e+06
# std      22.943586    19.462454    24.728358    22.717075  7.014872e+05
# min    1360.340000  1398.000000  1351.650000  1362.540000  1.172069e+06
# 25%    1419.377500  1436.802500  1396.565000  1418.097500  1.528364e+06
# 50%    1431.925000  1444.805000  1419.095000  1433.820000  1.687518e+06
# 75%    1444.605000  1452.628250  1428.301250  1445.430000  2.085423e+06
# max    1463.280000  1488.520000  1454.355000  1469.930000  4.882014e+06

In [ ]:
# The google.csv file is loaded using pandas as shown below. Assign two new columns to the google DataFrame:

# column with the current month number named 'Month'

# column with the current year named 'Year'

# In response, print this DataFrame to the console.

google = pd.read_csv('google.csv', index_col=0)
google = google.reset_index()
google['Date'] = pd.to_datetime(google['Date'])
google['Year'] = google['Date'].dt.year
google['Month'] = google['Date'].dt.month
print(google)

In [ ]:
# The google.csv file is loaded using pandas as shown below. Compute the average closing price for the month (group data by month - the Month column and then count the average value). In response, print result to the console.
# Expected result:
# Month
# 5    1418.900000
# 6    1431.595455
# 7    1455.965000
# Name: Close, dtype: float64

import pandas as pd
 
 
google = pd.read_csv('google.csv', index_col=0)
google = google.reset_index()
google['Date'] = pd.to_datetime(google['Date'])
google['Year'] = google['Date'].dt.year
google['Month'] = google['Date'].dt.month
print(google.groupby('Month')['Close'].mean())

In [ ]:
# The google.csv file is loaded using pandas as shown below. Find the index for which the Close price has the lowest value and assign it to the idx_min variable.

# Then extract the row for this index from the google DataFrame as a DataFrame. In response, print this DataFrame to the console.



# Expected output:



#          Date     Open     High     Low    Close   Volume
# 4  2020-06-26  1432.63  1437.02  1355.0  1362.54  4882014

import pandas as pd
 

data_dict = {
    'Date': ['2020-07-02','2020-07-01' ,'2020-06-30','2020-06-29' ],
    'Open': [1451.84,1419.17 ,1396.88,1360.34 ],
    'High': [1488.52,1448.48 ,1424.0,1398.0 ],
    'Low':[1451.065,1414.18,1386.9301,1351.65],
    'Close':[1469.93,1442.0,1418.05,1397.17],
    'Volume':[2860915,2109124,2014320,2253678],
}

google = pd.DataFrame(
    data=data_dict )
print(google)
idx_min = google['Close'].argmin()
print(google.iloc[[idx_min]])

         Date     Open     High        Low    Close   Volume
0  2020-07-02  1451.84  1488.52  1451.0650  1469.93  2860915
1  2020-07-01  1419.17  1448.48  1414.1800  1442.00  2109124
2  2020-06-30  1396.88  1424.00  1386.9301  1418.05  2014320
3  2020-06-29  1360.34  1398.00  1351.6500  1397.17  2253678
3
         Date     Open    High      Low    Close   Volume
3  2020-06-29  1360.34  1398.0  1351.65  1397.17  2253678

In [ ]:
# The google.csv file is loaded using pandas as shown below. Extract the following columns:

# Date

# Open

# Close

# Volume

# from the google DataFrame. In response, print result to the console.



# Expected output:



#           Date     Open    Close   Volume
# 0   2020-07-02  1451.84  1469.93  2860915
# 1   2020-07-01  1419.17  1442.00  2109124
# 2   2020-06-30  1396.88  1418.05  2014320
# 3   2020-06-29  1360.34  1397.17  2253678

import pandas as pd
 

data_dict = {
    'Date': ['2020-07-02','2020-07-01' ,'2020-06-30','2020-06-29' ],
    'Open': [1451.84,1419.17 ,1396.88,1360.34 ],
    'High': [1488.52,1448.48 ,1424.0,1398.0 ],
    'Low':[1451.065,1414.18,1386.9301,1351.65],
    'Close':[1469.93,1442.0,1418.05,1397.17],
    'Volume':[2860915,2109124,2014320,2253678],
}

google = pd.DataFrame(
    data=data_dict )
print(google)
print("amit")
print(google[['Date', 'Open', 'Close', 'Volume']])

         Date     Open     High        Low    Close   Volume
0  2020-07-02  1451.84  1488.52  1451.0650  1469.93  2860915
1  2020-07-01  1419.17  1448.48  1414.1800  1442.00  2109124
2  2020-06-30  1396.88  1424.00  1386.9301  1418.05  2014320
3  2020-06-29  1360.34  1398.00  1351.6500  1397.17  2253678
amit
         Date     Open    Close   Volume
0  2020-07-02  1451.84  1469.93  2860915
1  2020-07-01  1419.17  1442.00  2109124
2  2020-06-30  1396.88  1418.05  2014320
3  2020-06-29  1360.34  1397.17  2253678

In [ ]:

import pandas as pd
 

data_dict = {
    'Date': ['2020-07-02','2020-07-01' ,'2020-06-30','2020-06-29' ],
    'Open': [1451.84,1419.17 ,1396.88,1360.34 ],
    'High': [1488.52,1448.48 ,1424.0,1398.0 ],
    'Low':[1451.065,1414.18,1386.9301,1351.65],
    'Close':[1469.93,1442.0,1418.05,1397.17],
    'Volume':[2860915,2109124,2014320,2253678],
}

google = pd.DataFrame(
    data=data_dict )
google['Date'] = pd.to_datetime(google['Date'])
google['Year'] = google['Date'].dt.year
google['Month'] = google['Date'].dt.month
print(google)
google=google[['Date', 'Open','High','Low' ,'Close', 'Volume']]
print(google)

#or

import pandas as pd
 
 
google = pd.read_csv('google.csv')
google['Date'] = pd.to_datetime(google['Date'])
google['Year'] = google['Date'].dt.year
google['Month'] = google['Date'].dt.month
google = google.drop(columns=['Year', 'Month'])
print(google)

        Date     Open     High        Low    Close   Volume  Year  Month
0 2020-07-02  1451.84  1488.52  1451.0650  1469.93  2860915  2020      7
1 2020-07-01  1419.17  1448.48  1414.1800  1442.00  2109124  2020      7
2 2020-06-30  1396.88  1424.00  1386.9301  1418.05  2014320  2020      6
3 2020-06-29  1360.34  1398.00  1351.6500  1397.17  2253678  2020      6
        Date     Open     High        Low    Close   Volume
0 2020-07-02  1451.84  1488.52  1451.0650  1469.93  2860915
1 2020-07-01  1419.17  1448.48  1414.1800  1442.00  2109124
2 2020-06-30  1396.88  1424.00  1386.9301  1418.05  2014320
3 2020-06-29  1360.34  1398.00  1351.6500  1397.17  2253678

In [ ]:
# The google.csv file is loaded using pandas as shown below. Change the following column names:

# Open -> O

# High -> H

# Low -> L

# Close -> C

# Volume -> V

# In response, print google DataFrame to the console.



# Expected output:

#                   O          H          L        C        V
# Date                                                       
# 2020-07-02  1451.84  1488.5200  1451.0650  1469.93  2860915
# 2020-07-01  1419.17  1448.4800  1414.1800  1442.00  2109124
# 2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320
# 2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678
# 2020-06-26  1432.63  1437.0200  1355.0000  1362.54  488201

import pandas as pd
 
 
google = pd.read_csv('google.csv', index_col=0)
google.columns = ['O', 'H', 'L', 'C', 'V']
print(google)

In [ ]:
# The following url is given:

# https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv

# Using pandas load this file into DataFrame and assign to the df variable. In response, print the first five rows to the console.



# Expected result:



#    customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
# 0  7590-VHVEG  Female              0  ...          29.85        29.85     No
# 1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
# 2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
# 3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
# 4  9237-HQITU  Female              0  ...          70.70       151.65    Yes
 
# [5 rows x 21 columns]

import pandas as pd
 
 
url = ('https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/'
    'kaggle+/churn_modelling/Telco-Customer-Churn.csv')
df = pd.read_csv(url)
print(df.head())

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]

In [ ]:
# The df DataFrame is given below. Calculate the number of missing values for each variable. In response, print result to the console.



# Expected result:



# customerID          0
# gender              0
# SeniorCitizen       0
# Partner             0
# Dependents          0
# tenure              0
# PhoneService        0
# MultipleLines       0
# InternetService     0
# OnlineSecurity      0
# OnlineBackup        0
# DeviceProtection    0
# TechSupport         0
# StreamingTV         0
# StreamingMovies     0
# Contract            0
# PaperlessBilling    0
# PaymentMethod       0
# MonthlyCharges      0
# TotalCharges        0
# Churn               0
# dtype: int64

import pandas as pd


url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url)
print(df.isnull().sum())

      customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
0          False   False          False    False       False   False
1          False   False          False    False       False   False
2          False   False          False    False       False   False
3          False   False          False    False       False   False
4          False   False          False    False       False   False
...          ...     ...            ...      ...         ...     ...
7038       False   False          False    False       False   False
7039       False   False          False    False       False   False
7040       False   False          False    False       False   False
7041       False   False          False    False       False   False
7042       False   False          False    False       False   False

      PhoneService  MultipleLines  InternetService  OnlineSecurity  ...  \
0            False          False            False           False  ...
1            False          False            False           False  ...
2            False          False            False           False  ...
3            False          False            False           False  ...
4            False          False            False           False  ...
...            ...            ...              ...             ...  ...
7038         False          False            False           False  ...
7039         False          False            False           False  ...
7040         False          False            False           False  ...
7041         False          False            False           False  ...
7042         False          False            False           False  ...

      DeviceProtection  TechSupport  StreamingTV  StreamingMovies  Contract  \
0                False        False        False            False     False
1                False        False        False            False     False
2                False        False        False            False     False
3                False        False        False            False     False
4                False        False        False            False     False
...                ...          ...          ...              ...       ...
7038             False        False        False            False     False
7039             False        False        False            False     False
7040             False        False        False            False     False
7041             False        False        False            False     False
7042             False        False        False            False     False

      PaperlessBilling  PaymentMethod  MonthlyCharges  TotalCharges  Churn
0                False          False           False         False  False
1                False          False           False         False  False
2                False          False           False         False  False
3                False          False           False         False  False
4                False          False           False         False  False
...                ...            ...             ...           ...    ...
7038             False          False           False         False  False
7039             False          False           False         False  False
7040             False          False           False         False  False
7041             False          False           False         False  False
7042             False          False           False         False  False

[7043 rows x 21 columns]
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [2]:
# The df DataFrame is given below. Please note the TotalCharges column. The type of this column is set to object. Try to guess why this happened.



# Tip: Look at the distribution of this variable.



# We have a space character in this column. In this case, pandas read the entire column as an object type. As an analyst, we have to deal with such problems.

# Try to replace this missing values of the TotalCharges column with its median.

# In response, print distribution of the TotalCharges variable to the console.

import pandas as pd
 
 
url = ('https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/'
    'kaggle+/churn_modelling/Telco-Customer-Churn.csv')
df = pd.read_csv(url)
print(df.isnull().sum())

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [16]:
# The df DataFrame is given below. Please note the TotalCharges column. The type of this column is set to object. Try to guess why this happened.



# Tip: Look at the distribution of this variable.



# We have a space character in this column. In this case, pandas read the entire column as an object type. As an analyst, we have to deal with such problems.

# Try to replace this missing values of the TotalCharges column with its median.

# In response, print distribution of the TotalCharges variable to the console.



# Expected result:



# 1397.475    11
# 20.200      11
# 19.750       9
# 19.650       8
# 20.050       8
#             ..
# 607.300      1
# 1534.050     1
# 1066.150     1
# 249.950      1
# 1024.000     1
# Name: TotalCharges, Length: 6531, dtype: int64

import pandas as pd
 
 
url = ('https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/'
    'kaggle+/churn_modelling/Telco-Customer-Churn.csv')
df = pd.read_csv(url)


# Calculation of the median for the TotalCharges column
median = df['TotalCharges'][df['TotalCharges'] != ' '].median()
print(median)

# Fill the missing values with median
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = median
 
# Convert TotalCharges column to float type
df['TotalCharges'] = df['TotalCharges'].astype('float')
 
print(df['TotalCharges'].value_counts())

1397.475
1397.475    11
20.200      11
19.750       9
20.050       8
19.900       8
            ..
6849.400     1
692.350      1
130.150      1
3211.900     1
6844.500     1
Name: TotalCharges, Length: 6531, dtype: int64

In [17]:
# The df DataFrame is given below. Convert following columns:



# categorical = [
#     'gender', 
#     'SeniorCitizen', 
#     'Partner', 
#     'Dependents', 
#     'PhoneService', 
#     'MultipleLines', 
#     'InternetService',
#     'OnlineSecurity',
#     'OnlineBackup',
#     'DeviceProtection',
#     'TechSupport',
#     'StreamingTV',
#     'Contract',
#     'StreamingMovies',
#     'PaperlessBilling',
#     'PaymentMethod',
#     'Churn'
# ]
# to category type. And the following columns:



# numerical = [
#     'tenure',
#     'MonthlyCharges'
# ]


# to float type.



# In response, print info about this DataFrame to the console.



# Expected output:



# <class 'pandas.core.frame.DataFrame'>
# Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
# Data columns (total 20 columns):
#  #   Column            Non-Null Count  Dtype   
# ---  ------            --------------  -----   
#  0   gender            7043 non-null   category
#  1   SeniorCitizen     7043 non-null   category
#  2   Partner           7043 non-null   category
#  3   Dependents        7043 non-null   category
#  4   tenure            7043 non-null   float64 
#  5   PhoneService      7043 non-null   category
#  6   MultipleLines     7043 non-null   category
#  7   InternetService   7043 non-null   category
#  8   OnlineSecurity    7043 non-null   category
#  9   OnlineBackup      7043 non-null   category
#  10  DeviceProtection  7043 non-null   category
#  11  TechSupport       7043 non-null   category
#  12  StreamingTV       7043 non-null   category
#  13  StreamingMovies   7043 non-null   category
#  14  Contract          7043 non-null   category
#  15  PaperlessBilling  7043 non-null   category
#  16  PaymentMethod     7043 non-null   category
#  17  MonthlyCharges    7043 non-null   float64 
#  18  TotalCharges      7043 non-null   float64 
#  19  Churn             7043 non-null   category
# dtypes: category(17), float64(3)
# memory usage: 658.8+ KB

import pandas as pd


url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
TotalChargesMedian = df['TotalCharges'][df['TotalCharges'] != ' '].median()
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = TotalChargesMedian
df['TotalCharges'] = df['TotalCharges'].astype('float')

categorical = [
    'gender', 
    'SeniorCitizen', 
    'Partner', 
    'Dependents', 
    'PhoneService', 
    'MultipleLines', 
    'InternetService',
    'OnlineSecurity',
    'OnlineBackup',
    'DeviceProtection',
    'TechSupport',
    'StreamingTV',
    'Contract',
    'StreamingMovies',
    'PaperlessBilling',
    'PaymentMethod',
    'Churn'
]

numerical = [
    'tenure',
    'MonthlyCharges'
]

for col in categorical:
    df[col] = pd.Categorical(df[col]) 
 
for col in numerical:
    df[col] = df[col].astype(float)
 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   category
 1   SeniorCitizen     7043 non-null   category
 2   Partner           7043 non-null   category
 3   Dependents        7043 non-null   category
 4   tenure            7043 non-null   float64
 5   PhoneService      7043 non-null   category
 6   MultipleLines     7043 non-null   category
 7   InternetService   7043 non-null   category
 8   OnlineSecurity    7043 non-null   category
 9   OnlineBackup      7043 non-null   category
 10  DeviceProtection  7043 non-null   category
 11  TechSupport       7043 non-null   category
 12  StreamingTV       7043 non-null   category
 13  StreamingMovies   7043 non-null   category
 14  Contract          7043 non-null   category
 15  PaperlessBilling  7043 non-null   category
 16  PaymentMethod     7043 non-null   category
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   category
dtypes: category(17), float64(3)
memory usage: 339.2+ KB

In [19]:
# The df DataFrame is given below. Print the basic statistics of categorical variables by using the appropriate argument of the pd.DataFrame.describe() method.

# In response, print this statistics to the console.



# Expected result:



#        gender  SeniorCitizen Partner  ... PaperlessBilling     PaymentMethod Churn
# count    7043           7043    7043  ...             7043              7043  7043
# unique      2              2       2  ...                2                 4     2
# top      Male              0      No  ...              Yes  Electronic check    No
# freq     3555           5901    3641  ...             4171              2365  5174

import pandas as pd


url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
TotalChargesMedian = df['TotalCharges'][df['TotalCharges'] != ' '].median()
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = TotalChargesMedian
df['TotalCharges'] = df['TotalCharges'].astype('float')

categorical = [
    'gender', 
    'SeniorCitizen', 
    'Partner', 
    'Dependents', 
    'PhoneService', 
    'MultipleLines', 
    'InternetService',
    'OnlineSecurity',
    'OnlineBackup',
    'DeviceProtection',
    'TechSupport',
    'StreamingTV',
    'Contract',
    'StreamingMovies',
    'PaperlessBilling',
    'PaymentMethod',
    'Churn'
]

numerical = [
    'tenure',
    'MonthlyCharges'
]

for col in categorical:
    df[col] = pd.Categorical(df[col]) 

for col in numerical:
    df[col] = df[col].astype(float)

print(df.describe(include=['category']))

       gender  SeniorCitizen Partner Dependents PhoneService MultipleLines  \
count    7043           7043    7043       7043         7043          7043
unique      2              2       2          2            2             3
top      Male              0      No         No          Yes            No
freq     3555           5901    3641       4933         6361          3390

       InternetService OnlineSecurity OnlineBackup DeviceProtection  \
count             7043           7043         7043             7043
unique               3              3            3                3
top        Fiber optic             No           No               No
freq              3096           3498         3088             3095

       TechSupport StreamingTV StreamingMovies        Contract  \
count         7043        7043            7043            7043
unique           3           3               3               3
top             No          No              No  Month-to-month
freq          3473        2810            2785            3875

       PaperlessBilling     PaymentMethod Churn
count              7043              7043  7043
unique                2                 4     2
top                 Yes  Electronic check    No
freq               4171              2365  5174

In [22]:
# The df DataFrame is given below. Find the distribution of he Churn variable and print it to the console.



# Expected output:



# No     5174
# Yes    1869
# Name: Churn, dtype: int64

import pandas as pd


url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
print(df['Churn'].value_counts())

No     5174
Yes    1869
Name: Churn, dtype: int64

In [24]:
# The df DataFrame is given below. Group this DataFrame by 'Churn' and 'PaymentMethod' column and calculate the average value of the 'MonthlyCharges' column.

# In response, print result to the console.



# Expected output:



# Churn  PaymentMethod            
# No     Bank transfer (automatic)    65.049417
#        Credit card (automatic)      64.562209
#        Electronic check             74.232032
#        Mailed check                 41.403911
# Yes    Bank transfer (automatic)    77.875581
#        Credit card (automatic)      77.356034
#        Electronic check             78.700980
#        Mailed check                 54.557143
# Name: MonthlyCharges, dtype: float64

import pandas as pd


url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
print(df.groupby(['Churn', 'PaymentMethod'])['MonthlyCharges'].mean())

Churn  PaymentMethod
No     Bank transfer (automatic)    65.049417
       Credit card (automatic)      64.562209
       Electronic check             74.232032
       Mailed check                 41.403911
Yes    Bank transfer (automatic)    77.875581
       Credit card (automatic)      77.356034
       Electronic check             78.700980
       Mailed check                 54.557143
Name: MonthlyCharges, dtype: float64

In [29]:
# The df DataFrame is given below. Map the Churn column as follows:

# 'Yes' -> 1

# 'No' -> 0



# The first five rows of the Churn column:



# customerID
# 7590-VHVEG    0
# 5575-GNVDE    0
# 3668-QPYBK    1
# 7795-CFOCW    0
# 9237-HQITU    1
# Name: Churn, dtype: int64

import pandas as pd


url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})
print(df['Churn'])

customerID
7590-VHVEG    0
5575-GNVDE    0
3668-QPYBK    1
7795-CFOCW    0
9237-HQITU    1
             ..
6840-RESVB    0
2234-XADUH    0
4801-JZAZL    0
8361-LTMKD    1
3186-AJIEK    0
Name: Churn, Length: 7043, dtype: int64

In [30]:
# Exercise 39
# The df DataFrame is given below. Calculate the correlation matrix for this DataFrame.

# In response, print result to the console.



# Expected result:



#                 SeniorCitizen    tenure  MonthlyCharges
# SeniorCitizen        1.000000  0.016567        0.220173
# tenure               0.016567  1.000000        0.247900
# MonthlyCharges       0.220173  0.247900        1.000000

import pandas as pd
 
 
url = ('https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/'
    'kaggle+/churn_modelling/Telco-Customer-Churn.csv')
df = pd.read_csv(url, index_col=0)
print(df.corr())

                SeniorCitizen    tenure  MonthlyCharges
SeniorCitizen        1.000000  0.016567        0.220173
tenure               0.016567  1.000000        0.247900
MonthlyCharges       0.220173  0.247900        1.000000

In [32]:
# import pandas as pd
import numpy as np
 
 
np.random.seed(42)
 
url = ('https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/'
    'kaggle+/churn_modelling/Telco-Customer-Churn.csv')
df = pd.read_csv(url, index_col=0)
df.sample(10).to_csv('sample_10.csv')

In [41]:
# The following objects are given:



# s1 = pd.Series(np.random.rand(20))
# s2 = pd.Series(np.random.randn(20))


# Combine these two Series into one DataFrame and assign to df variable. Set the column names 'col1' and 'col2' respectively. In response, print this DataFrame to the console.



# Expected result:



#         col1      col2
# 0   0.374540 -1.012831
# 1   0.950714  0.314247
# 2   0.731994 -0.908024
# 3   0.598658 -1.412304
# 4   0.156019  1.465649
# 5   0.155995 -0.225776
# 6   0.058084  0.067528
# 7   0.866176 -1.424748
# 8   0.601115 -0.544383
# 9   0.708073  0.110923
# 10  0.020584 -1.150994
# 11  0.969910  0.375698
# 12  0.832443 -0.600639
# 13  0.212339 -0.291694
# 14  0.181825 -0.601707
# 15  0.183405  1.852278
# 16  0.304242 -0.013497
# 17  0.524756 -1.057711
# 18  0.431945  0.822545
# 19  0.291229 -1.220844

import numpy as np
import pandas as pd


np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df)

        col1      col2
0   0.374540 -1.012831
1   0.950714  0.314247
2   0.731994 -0.908024
3   0.598658 -1.412304
4   0.156019  1.465649
5   0.155995 -0.225776
6   0.058084  0.067528
7   0.866176 -1.424748
8   0.601115 -0.544383
9   0.708073  0.110923
10  0.020584 -1.150994
11  0.969910  0.375698
12  0.832443 -0.600639
13  0.212339 -0.291694
14  0.181825 -0.601707
15  0.183405  1.852278
16  0.304242 -0.013497
17  0.524756 -1.057711
18  0.431945  0.822545
19  0.291229 -1.220844

In [43]:
# The df DataFrame is given below. Extract rows from this DataFrame for which the col2 column is between 0.0 and 1.0 (inclusive).

# In response, print result to the console.



# Expected result:



#         col1      col2
# 1   0.950714  0.314247
# 6   0.058084  0.067528
# 9   0.708073  0.110923
# 11  0.969910  0.375698
# 18  0.431945  0.822545

import numpy as np
import pandas as pd
 
 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
 
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df[df['col2'].between(0.0, 1.0)])

#or

import numpy as np
import pandas as pd
 
 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
 
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df[(df['col2'] >= 0.0) & (df['col2'] <= 1.0)])

        col1      col2
1   0.950714  0.314247
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
18  0.431945  0.822545
        col1      col2
1   0.950714  0.314247
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
18  0.431945  0.822545

In [45]:
# The df DataFrame is given below. Assign a new column named 'col3', which will store 1 when the value in the column col2 is non-negative and -1 opposite.
# In response. print DataFrame to the console.
# Expected result:
#         col1      col2  col3
# 0   0.374540 -1.012831    -1
# 1   0.950714  0.314247     1
# 2   0.731994 -0.908024    -1
# 3   0.598658 -1.412304    -1
# 4   0.156019  1.465649     1
# 5   0.155995 -0.225776    -1
# 6   0.058084  0.067528     1
# 7   0.866176 -1.424748    -1
# 8   0.601115 -0.544383    -1
# 9   0.708073  0.110923     1
# 10  0.020584 -1.150994    -1
# 11  0.969910  0.375698     1
# 12  0.832443 -0.600639    -1
# 13  0.212339 -0.291694    -1
# 14  0.181825 -0.601707    -1
# 15  0.183405  1.852278     1
# 16  0.304242 -0.013497    -1
# 17  0.524756 -1.057711    -1
# 18  0.431945  0.822545     1
# 19  0.291229 -1.220844    -1

import numpy as np
import pandas as pd


np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
df['col3'] = df['col2'].map(lambda x: 1 if x >= 0 else -1)
print(df)

        col1      col2  col3
0   0.374540 -1.012831    -1
1   0.950714  0.314247     1
2   0.731994 -0.908024    -1
3   0.598658 -1.412304    -1
4   0.156019  1.465649     1
5   0.155995 -0.225776    -1
6   0.058084  0.067528     1
7   0.866176 -1.424748    -1
8   0.601115 -0.544383    -1
9   0.708073  0.110923     1
10  0.020584 -1.150994    -1
11  0.969910  0.375698     1
12  0.832443 -0.600639    -1
13  0.212339 -0.291694    -1
14  0.181825 -0.601707    -1
15  0.183405  1.852278     1
16  0.304242 -0.013497    -1
17  0.524756 -1.057711    -1
18  0.431945  0.822545     1
19  0.291229 -1.220844    -1

In [46]:
# The df DataFrame is given below. Assign a new column 'col4', which will truncate the values from the column col2 to the range [1.0, 1.0]. In other words, for values less than -1.0 set -1.0 and for values greater than 1.0 set 1.0.

# In response, print DataFrame to the console.



# Expected result:



#         col1      col2  col3      col4
# 0   0.374540 -1.012831    -1 -1.000000
# 1   0.950714  0.314247     1  0.314247
# 2   0.731994 -0.908024    -1 -0.908024
# 3   0.598658 -1.412304    -1 -1.000000
# 4   0.156019  1.465649     1  1.000000
# 5   0.155995 -0.225776    -1 -0.225776
# 6   0.058084  0.067528     1  0.067528
# 7   0.866176 -1.424748    -1 -1.000000
# 8   0.601115 -0.544383    -1 -0.544383
# 9   0.708073  0.110923     1  0.110923
# 10  0.020584 -1.150994    -1 -1.000000
# 11  0.969910  0.375698     1  0.375698
# 12  0.832443 -0.600639    -1 -0.600639
# 13  0.212339 -0.291694    -1 -0.291694
# 14  0.181825 -0.601707    -1 -0.601707
# 15  0.183405  1.852278     1  1.000000
# 16  0.304242 -0.013497    -1 -0.013497
# 17  0.524756 -1.057711    -1 -1.000000
# 18  0.431945  0.822545     1  0.822545
# 19  0.291229 -1.220844    -1 -1.000000
import numpy as np
import pandas as pd
 
 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
 
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
df['col3'] = df['col2'].map(lambda x: 1 if x >= 0 else -1)
df['col4'] = df['col2'].clip(-1.0, 1.0)
print(df)

        col1      col2  col3      col4
0   0.374540 -1.012831    -1 -1.000000
1   0.950714  0.314247     1  0.314247
2   0.731994 -0.908024    -1 -0.908024
3   0.598658 -1.412304    -1 -1.000000
4   0.156019  1.465649     1  1.000000
5   0.155995 -0.225776    -1 -0.225776
6   0.058084  0.067528     1  0.067528
7   0.866176 -1.424748    -1 -1.000000
8   0.601115 -0.544383    -1 -0.544383
9   0.708073  0.110923     1  0.110923
10  0.020584 -1.150994    -1 -1.000000
11  0.969910  0.375698     1  0.375698
12  0.832443 -0.600639    -1 -0.600639
13  0.212339 -0.291694    -1 -0.291694
14  0.181825 -0.601707    -1 -0.601707
15  0.183405  1.852278     1  1.000000
16  0.304242 -0.013497    -1 -0.013497
17  0.524756 -1.057711    -1 -1.000000
18  0.431945  0.822545     1  0.822545
19  0.291229 -1.220844    -1 -1.000000

In [49]:
# The df DataFrame is given below. Print the five largest values for the col2. Then print blank line and print the five lowest values for the col2.
# Expected result:
# 15    1.852278
# 4     1.465649
# 18    0.822545
# 11    0.375698
# 1     0.314247
# Name: col2, dtype: float64
# 7    -1.424748
# 3    -1.412304
# 19   -1.220844
# 10   -1.150994
# 17   -1.057711
# Name: col2, dtype: float64

import numpy as np
import pandas as pd


np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df['col2'].nlargest(5))
print()
print(df['col2'].nsmallest(5))

15    1.852278
4     1.465649
18    0.822545
11    0.375698
1     0.314247
Name: col2, dtype: float64

7    -1.424748
3    -1.412304
19   -1.220844
10   -1.150994
17   -1.057711
Name: col2, dtype: float64

In [51]:
# The df DataFrame is given below. Calculate the cumulative sum for each column and print result to the console.

# Tip: Use the pd.DataFrame.cumsum() method.
# Expected result:



#         col1      col2
# 0   0.374540 -1.012831
# 1   1.325254 -0.698584
# 2   2.057248 -1.606608
# 3   2.655907 -3.018912
# 4   2.811925 -1.553263
# 5   2.967920 -1.779039
# 6   3.026004 -1.711511
# 7   3.892180 -3.136259
# 8   4.493295 -3.680642
# 9   5.201367 -3.569719
# 10  5.221952 -4.720713
# 11  6.191862 -4.345015
# 12  7.024304 -4.945653
# 13  7.236643 -5.237347
# 14  7.418468 -5.839054
# 15  7.601873 -3.986776
# 16  7.906115 -4.000273
# 17  8.430872 -5.057984
# 18  8.862817 -4.235439
# 19  9.154046 -5.456283

import numpy as np
import pandas as pd
 
 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
 
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df.cumsum())

        col1      col2
0   0.374540 -1.012831
1   1.325254 -0.698584
2   2.057248 -1.606608
3   2.655907 -3.018912
4   2.811925 -1.553263
5   2.967920 -1.779039
6   3.026004 -1.711511
7   3.892180 -3.136259
8   4.493295 -3.680642
9   5.201367 -3.569719
10  5.221952 -4.720713
11  6.191862 -4.345015
12  7.024304 -4.945653
13  7.236643 -5.237347
14  7.418468 -5.839054
15  7.601873 -3.986776
16  7.906115 -4.000273
17  8.430872 -5.057984
18  8.862817 -4.235439
19  9.154046 -5.456283

In [52]:
# The df DataFrame is given below. Calculate the median for the col2 and print it to the console.



# Expected result:



# -0.4180382371592297

import numpy as np
import pandas as pd


np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df['col2'].median())

-0.4180382371592297

In [54]:
# The df DataFrame is given below. Extract rows for which the col2 takes values greater than 0.0 and print result to the console.



# Expected result:



#         col1      col2
# 1   0.950714  0.314247
# 4   0.156019  1.465649
# 6   0.058084  0.067528
# 9   0.708073  0.110923
# 11  0.969910  0.375698
# 15  0.183405  1.852278
# 18  0.431945  0.822545

import numpy as np
import pandas as pd
 
 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
 
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df.query("col2 > 0"))

# or
import numpy as np
import pandas as pd
 
 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
 
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df[df['col2'] > 0])

        col1      col2
1   0.950714  0.314247
4   0.156019  1.465649
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
15  0.183405  1.852278
18  0.431945  0.822545
        col1      col2
1   0.950714  0.314247
4   0.156019  1.465649
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
15  0.183405  1.852278
18  0.431945  0.822545

In [55]:
# The df DataFrame is given below. Extract first five rows of the df and convert into the dictionary as shown below.
# In response, print this dictionary to the console.
# Expected output:
# {'col1': {0: 0.3745401188473625, 1: 0.9507143064099162, 2: 0.7319939418114051, 3: 0.5986584841970366, 4: 0.15601864044243652}, 'col2': {0: -1.0128311203344238, 1: 0.3142473325952739, 2: -0.9080240755212109, 3: -1.4123037013352915, 4: 1.465648768921554}}

import numpy as np
import pandas as pd
 
 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
 
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df.head().to_dict())

#or
import numpy as np
import pandas as pd
 
 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
 
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df[:5].to_dict())

{'col1': {0: 0.3745401188473625, 1: 0.9507143064099162, 2: 0.7319939418114051, 3: 0.5986584841970366, 4: 0.15601864044243652}, 'col2': {0: -1.0128311203344238, 1: 0.3142473325952739, 2: -0.9080240755212109, 3: -1.4123037013352915, 4: 1.465648768921554}}
{'col1': {0: 0.3745401188473625, 1: 0.9507143064099162, 2: 0.7319939418114051, 3: 0.5986584841970366, 4: 0.15601864044243652}, 'col2': {0: -1.0128311203344238, 1: 0.3142473325952739, 2: -0.9080240755212109, 3: -1.4123037013352915, 4: 1.465648768921554}}

In [2]:
# The df DataFrame is given below. Extract the first five rows of this object, convert to HTML and assign it to the df_html variable.

# Print the contents of the df_html variable to the console.



# Expected result:



# <table border="1" class="dataframe">
#   <thead>
#     <tr style="text-align: right;">
#       <th></th>
#       <th>col1</th>
#       <th>col2</th>
#     </tr>
#   </thead>
#   <tbody>
#     <tr>
#       <th>0</th>
#       <td>0.374540</td>
#       <td>-1.012831</td>
#     </tr>
#     <tr>
#       <th>1</th>
#       <td>0.950714</td>
#       <td>0.314247</td>
#     </tr>
#     <tr>
#       <th>2</th>
#       <td>0.731994</td>
#       <td>-0.908024</td>
#     </tr>
#     <tr>
#       <th>3</th>
#       <td>0.598658</td>
#       <td>-1.412304</td>
#     </tr>
#     <tr>
#       <th>4</th>
#       <td>0.156019</td>
#       <td>1.465649</td>
#     </tr>
#   </tbody>
# </table>

import numpy as np
import pandas as pd
 
 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
 
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df.head().to_html())

# or

import numpy as np
import pandas as pd
 
 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
 
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df[:5].to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.374540</td>
      <td>-1.012831</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.950714</td>
      <td>0.314247</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.731994</td>
      <td>-0.908024</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.598658</td>
      <td>-1.412304</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.156019</td>
      <td>1.465649</td>
    </tr>
  </tbody>
</table>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.374540</td>
      <td>-1.012831</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.950714</td>
      <td>0.314247</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.731994</td>
      <td>-0.908024</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.598658</td>
      <td>-1.412304</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.156019</td>
      <td>1.465649</td>
    </tr>
  </tbody>
</table>

In [7]:
# The following DataFrame is given:



# df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))


# Extract rows of this DataFrame for which the C column is greater than 0.8 and print result to the console.



# Expected output:



#           A         B         C         D
# 8  0.065052  0.948886  0.965632  0.808397

import numpy as np
import pandas as pd
 
 
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
print(df.loc[df['C'] > 0.8])

          A         B         C         D
8  0.065052  0.948886  0.965632  0.808397

In [8]:
# The following DataFrame is given:



# df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))


# Extract rows of this DataFrame for which the C column is greater than 0.3 and the D column is less than 0.7. Print result to the console.

import numpy as np
import pandas as pd
 
 
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
print(df.loc[(df['C'] > 0.3) & (df['D'] < 0.7)])

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
4  0.304242  0.524756  0.431945  0.291229
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

In [10]:
# The following DataFrame is given:



# df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))


# Iterate through the first five rows of this object and print each row to the console as shown below.



# Tip: Use the pd.DataFrame.iterrows() function.



# Expected result:



# A    0.374540
# B    0.950714
# C    0.731994
# D    0.598658
# Name: 0, dtype: float64
# A    0.156019
# B    0.155995
# C    0.058084
# D    0.866176
# Name: 1, dtype: float64
# A    0.601115
# B    0.708073
# C    0.020584
# D    0.969910
# Name: 2, dtype: float64
# A    0.832443
# B    0.212339
# C    0.181825
# D    0.183405
# Name: 3, dtype: float64
# A    0.304242
# B    0.524756
# C    0.431945
# D    0.291229
# Name: 4, dtype: float64
import numpy as np
import pandas as pd
 
 
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
for index, row in df.head().iterrows():
    print(row)

A    0.374540
B    0.950714
C    0.731994
D    0.598658
Name: 0, dtype: float64
A    0.156019
B    0.155995
C    0.058084
D    0.866176
Name: 1, dtype: float64
A    0.601115
B    0.708073
C    0.020584
D    0.969910
Name: 2, dtype: float64
A    0.832443
B    0.212339
C    0.181825
D    0.183405
Name: 3, dtype: float64
A    0.304242
B    0.524756
C    0.431945
D    0.291229
Name: 4, dtype: float64
A    0.611853
B    0.139494
C    0.292145
D    0.366362
Name: 5, dtype: float64
A    0.456070
B    0.785176
C    0.199674
D    0.514234
Name: 6, dtype: float64
A    0.592415
B    0.046450
C    0.607545
D    0.170524
Name: 7, dtype: float64
A    0.065052
B    0.948886
C    0.965632
D    0.808397
Name: 8, dtype: float64
A    0.304614
B    0.097672
C    0.684233
D    0.440152
Name: 9, dtype: float64

In [ ]:
# The following DataFrame is given:



# df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))


# Set the value in row with index 3 for column B as np.nan (use df.iloc) and also set the value in the row at index 8 for column D as np.nan (use df.loc).

# Print DataFrame to the console.



# Expected oupput:



#           A         B         C         D
# 0  0.374540  0.950714  0.731994  0.598658
# 1  0.156019  0.155995  0.058084  0.866176
# 2  0.601115  0.708073  0.020584  0.969910
# 3  0.832443       NaN  0.181825  0.183405
# 4  0.304242  0.524756  0.431945  0.291229
# 5  0.611853  0.139494  0.292145  0.366362
# 6  0.456070  0.785176  0.199674  0.514234
# 7  0.592415  0.046450  0.607545  0.170524
# 8  0.065052  0.948886  0.965632       NaN
# 9  0.304614  0.097672  0.684233  0.440152


import numpy as np
import pandas as pd
 
 
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df.iloc[3, 1] = np.nan
### diffrance between iloc and loc, iloc looking to index and loc is lable
df.loc[8, 'D'] = np.nan
print(df)

In [11]:
# The following df DataFrame is given. Remove all rows from this object containing missing values and assign to variable df1.
# In response, print this variable to the console.
# Expected result:
#           A         B         C         D
# 0  0.374540  0.950714  0.731994  0.598658
# 1  0.156019  0.155995  0.058084  0.866176
# 2  0.601115  0.708073  0.020584  0.969910
# 4  0.304242  0.524756  0.431945  0.291229
# 5  0.611853  0.139494  0.292145  0.366362
# 6  0.456070  0.785176  0.199674  0.514234
# 7  0.592415  0.046450  0.607545  0.170524
# 9  0.304614  0.097672  0.684233  0.440152

import numpy as np
import pandas as pd
 
 
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
df1 = df.dropna()
print(df1)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

In [12]:
# The following df DataFrame is given. Note that the index after removing two rows in the df1 is not correct. Reset this index and print df DataFrame to the console.

# Expected output:
#           A         B         C         D
# 0  0.374540  0.950714  0.731994  0.598658
# 1  0.156019  0.155995  0.058084  0.866176
# 2  0.601115  0.708073  0.020584  0.969910
# 3  0.304242  0.524756  0.431945  0.291229
# 4  0.611853  0.139494  0.292145  0.366362
# 5  0.456070  0.785176  0.199674  0.514234
# 6  0.592415  0.046450  0.607545  0.170524
# 7  0.304614  0.097672  0.684233  0.440152
import numpy as np
import pandas as pd
 
 
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
df1 = df.dropna()
df1 = df1.reset_index(drop=True)
print(df1)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.304242  0.524756  0.431945  0.291229
4  0.611853  0.139494  0.292145  0.366362
5  0.456070  0.785176  0.199674  0.514234
6  0.592415  0.046450  0.607545  0.170524
7  0.304614  0.097672  0.684233  0.440152

In [13]:
# The following df DataFrame is given. Calculate the number of missing values in this object for each column.

# In response, print result to the console.
# Expected output:
# A    0
# B    1
# C    0
# D    1
# dtype: int64
import numpy as np
import pandas as pd
 
 
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
print(df.isnull().sum())

A    0
B    1
C    0
D    1
dtype: int64

In [1]:
# The following df DataFrame is given. Fill in the missing values with 0 and assign to the variable df. In response, print df to the console.
# Expected output:
#           A         B         C         D
# 0  0.374540  0.950714  0.731994  0.598658
# 1  0.156019  0.155995  0.058084  0.866176
# 2  0.601115  0.708073  0.020584  0.969910
# 3  0.832443  0.000000  0.181825  0.183405
# 4  0.304242  0.524756  0.431945  0.291229
# 5  0.611853  0.139494  0.292145  0.366362
# 6  0.456070  0.785176  0.199674  0.514234
# 7  0.592415  0.046450  0.607545  0.170524
# 8  0.065052  0.948886  0.965632  0.000000
# 9  0.304614  0.097672  0.684233  0.440152

import numpy as np
import pandas as pd
 
 
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
df = df.fillna(0)
print(df)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.000000  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632  0.000000
9  0.304614  0.097672  0.684233  0.440152

In [2]:
# The following df DataFrame is given. Replace the order of the columns in the df object as following:

# D, A, B, C

# and assign to df variable. In respone, print this variable to the console.
# Expected output:
#           D         A         B         C
# 0  0.598658  0.374540  0.950714  0.731994
# 1  0.866176  0.156019  0.155995  0.058084
# 2  0.969910  0.601115  0.708073  0.020584
# 3  0.183405  0.832443  0.212339  0.181825
# 4  0.291229  0.304242  0.524756  0.431945
# 5  0.366362  0.611853  0.139494  0.292145
# 6  0.514234  0.456070  0.785176  0.199674
# 7  0.170524  0.592415  0.046450  0.607545
# 8  0.808397  0.065052  0.948886  0.965632
# 9  0.440152  0.304614  0.097672  0.684233

import numpy as np
import pandas as pd
 
 
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df = df[['D', 'A', 'B', 'C']]
print(df)

          D         A         B         C
0  0.598658  0.374540  0.950714  0.731994
1  0.866176  0.156019  0.155995  0.058084
2  0.969910  0.601115  0.708073  0.020584
3  0.183405  0.832443  0.212339  0.181825
4  0.291229  0.304242  0.524756  0.431945
5  0.366362  0.611853  0.139494  0.292145
6  0.514234  0.456070  0.785176  0.199674
7  0.170524  0.592415  0.046450  0.607545
8  0.808397  0.065052  0.948886  0.965632
9  0.440152  0.304614  0.097672  0.684233